NEXT_PUBLIC_SITE_URL=https://primelineplanejados.com.br
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_WEB3FORMS_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
NEXT_PUBLIC_WHATSAPP_NUMBER=5531998156666
NEXT_PUBLIC_EMAIL=contato@primelineplanejados.com.br
NEXT_PUBLIC_INSTAGRAM=@primeline_planejados
NEXT_PUBLIC_GOOGLE_MAPS_EMBED=URL_DO_EMBED_DO_MAPS
